/* IMPORTA FUENTES */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');


body {
  font: 20px "Josefin Slab", Helvetica, sans-serif;
  margin: 0 auto;
  width: 95%;
  text-align: center;
  line-height: 110%;
}

p{
  font: 20px "Josefin Slab", sans-serif;
}

h1 {
  font: 36px "Permanent Marker", sans-serif;
  padding: 0;
}

h2 {
    color: #FF3300;
}

h3 {
  color: #DD00DD;
  text-decoration: underline dotted;
}

h4 {
  font-size: 18px;
  margin-bottom: 0;
  padding: 0;
}

span {
    font-size: 14px;
    line-height: 100%;
}

a {
  color: rgb(255,0,100);
  text-decoration: none;
}

a:hover {
  color: rgb(255,0,200);
  text-decoration: underline;
}

li {
  display: list-item;
  list-style: circle;
  text-align: left;
}

#menu{
  margin:0 auto;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding-top: 10px;
  padding-bottom: 12px;
}

#menu ul, li, {
  display: inline;
  list-style: none;
  padding: 20px;
}

blockquote{
    font-style: italic;
    font-size: 18px;
    line-height: 120%;
    color: #BBB;
}

img{
    margin: 10px;
    max-height: 400px;
    max-width:680px;
}
